.vscode/ltex.dictionary.en-US.txt
samples/data-model/KellerSensorData.Tests/obj/KellerSensorData.Tests.csproj.nuget.dgspec.json
samples/data-model/KellerSensorData.Tests/obj/KellerSensorData.Tests.csproj.nuget.g.props
samples/data-model/KellerSensorData.Tests/obj/KellerSensorData.Tests.csproj.nuget.g.targets
samples/data-model/KellerSensorData.Tests/obj/project.assets.json
samples/data-model/KellerSensorData.Tests/obj/project.nuget.cache
.gitignore
samples/data-model/KellerSensorData.Tests/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
samples/data-model/KellerSensorData.Tests/obj/Debug/net6.0/KellerSensorData.Tests.AssemblyInfo.cs
samples/data-model/KellerSensorData.Tests/obj/Debug/net6.0/KellerSensorData.Tests.AssemblyInfoInputs.cache
samples/data-model/KellerSensorData.Tests/obj/Debug/net6.0/KellerSensorData.Tests.csproj.AssemblyReference.cache
samples/data-model/KellerSensorData.Tests/obj/Debug/net6.0/KellerSensorData.Tests.GeneratedMSBuildEditorConfig.editorconfig
